@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body * {
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 25%;
    display: flex;
}

.logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    cursor: pointer;
    width: 30%;
}

.menu{
    padding-left: 20%;
    width: 70%;
}

.menu li {
    margin: 10px;
    list-style: none;
    display: inline-flex;
    font-size: 1.5vw;
    font-weight: 800;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

.menu ul li a::after {
    content: '';
    margin-left: 13px;
    display: flex;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: #11B9C4;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 80%;
    left: 25%;
}

.body{
    width: 100%;
}

.header-body{
    width: 98vw !important;
    height: 60vh !important;
    display: flex !important;
}

.left-header-body{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 50vw !important;
    height: 60vh !important;
}

.left-header-body{
    font-size: 1.5vw !important;
}

.right-header-body{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 50vw !important;
    height: 60vh !important;
}

.right-header-body > img{
    border-radius: 50% !important;
    width: 65% !important;
}

.card-body{
    width: 70% !important;
    height: 20% !important;
    padding: 30px 35px !important;
    background: #FFFFFF !important;
    border-radius: 20px !important;
    box-shadow: 0px 10px 40px #00000056 !important;
}

.card-title{
    width: 100% !important;
    font-size: 0.85vw !important;
}

.textfield{
    display: inline !important;
    margin: 10px 0px !important;
    width: 100% !important;
}

.textfield > input{
    width: 40% !important;
    height: 10vh !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 15px !important;
    background: #FFFFFF !important;
    color: #11B9C4 !important;
    font-size: 12pt !important;
    outline: none !important;
}

.textfield > input:hover{
    box-shadow: 0px 10px 40px #00000056 !important;
    transition: 0.3s ease-in-out !important;
}

.textfield > input::placeholder{
    color: #11B9C4 !important;
    font-size: 1.2vw !important;
}

.card-button{
    padding-left: 3% !important;
    display: inline !important;
}

.card-button button{
    margin: 10px 0 0 0 !important;
    width: 95% !important;
    height: 8% !important;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    background-color: #11B9C4 !important;
    border: none !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    letter-spacing: 3px !important;
    cursor: pointer !important;
}

.trasitionButton{
    transition: transform 1s !important;
}

.trasitionButton:hover{
    transform: scale(1.2) !important;
}

.header-footer{
    width: 100% !important;
    height: 60vh !important;
    display: flex !important;
}

.first-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.first-image img {
    width: 15%;
    height: 23%;
    border-radius: 70%;
}

.first-image > span{
    padding-right: 5%;
    padding-top: 4%;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.second-image > span{
    padding-top: 4%;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.thirty-image > span{
    padding-left: 5%;    
    padding-top: 4%;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.second-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.second-image > img{
    width: 13vw;
    height: 23vh;
    border-radius: 70%;
}

.thirty-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.thirty-image > img{
    width: 13vw;
    height: 23vh;
    border-radius: 70%;
}

.copy{
    font-size: 0.9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11B9C4;
}

@media only screen and (max-width: 950px) {
    .right-header-body > img{
        width: 85%;
    }
        
    .textfield > input::placeholder{
        font-size: 1.5vw;
    }

    .card-button > button{
        letter-spacing: 2px;
        font-size: 1.2vw;
    }

    .first-image > img, .second-image > img, .thirty-image > img{
        width: 16vw;
        height: 20vh;
    }

    .first-image > span {
        padding-right: 8%;
        font-size: 1.3vw;
    }

    .second-image > span {
        font-size: 1.3vw;
    }

    .thirty-image > span {
        font-size: 1.3vw;
        padding-left: 8%;
    }

}